* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #0b1e62;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  width: 350px;
  max-width: 90%;
  min-height: 60vh;

  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

h1 {
  background: white;
  padding: 15px;
  margin-bottom: 15px;

  text-align: center;
  border-radius: 15px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.text-add-area {
  display: flex;
  margin-bottom: 10px;
}

input {
  flex: 1;
  height: 55px;

  padding: 0 15px;

  background: #edeef0;
  border-radius: 15px;

  font-size: 1rem;
}

button {
  height: 55px;

  margin-left: 10px;
  padding: 0 25px;

  background: #ff5845;
  color: white;

  border-radius: 10px;

  cursor: pointer;
  font-size: 1rem;

  transition: 0.3s;
}

button:hover {
  background: orange;
}

ul {
  flex: 1;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Todo Item */

.list-line {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between X and text */
  padding: 10px;
  margin-top: -1px;

  background: white;
  border-radius: 10px;
}

.list-line span {
  flex: 1;
}

/* Delete Button */

.delete-btn {
  width: 25px;
  height: 25px;

  padding: 0;
  margin: 0;

  border-radius: 5px;

  font-size: 12px;
}

/* Clear Button */

#btn-clean {
  margin-top: 15px;
  margin-left: 0;

  align-self: flex-end;

  width: 90px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}
